:root {
  --color-primary: #8E2424;
  --color-secondary: #667085;
  --color-text: #3A404E;
  --color-text-secondary: #101828;
  --font-family: 'Inter', sans-serif;
  --font-size-normal: 1rem;
  --font-size-large: 1.125rem;
  --line-height-normal: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 5rem;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo span {
  color: var(--color-text);
  font-size: var(--font-size-large);
  line-height: var(--line-height-normal);
}

.navbar {
  align-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar a {
  color: var(--color-secondary);
  text-decoration: none;
}

.actions-button {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.actions-button button {
  background: rgba(255, 255, 255, 1);
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 500;
  line-height: var(--line-height-normal);

  padding: 0.625rem 1.125rem;
  border-radius: 0.5rem;
  border-style: none;
  cursor: pointer;
}

.actions-button .register {
  background: var(--color-primary);
  color: #FFFFFF;
}

#sobre_nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 6rem 0px;
}

#sobre_nos span {
  color: var(--color-primary);
  font-weight: 600;
  line-height: var(--line-height-normal);
}

#sobre_nos h1 {
  color: var(--color-text-secondary);
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.75rem;
  letter-spacing: -0.06rem;
}

#sobre_nos p {
  width: 791px;
  padding-top: 0.75rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

#metricas {
  display: flex;
  padding-bottom: 6rem;
  gap: 4rem;
  margin: 0px 5rem;
}

#metricas .metricas_card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1 0 0;
}

.metricas_card > span {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 3.75rem;
}

.metricas_card > h2 {
  color: var(--color-text-secondary);
  font-size: var(--font-size-large);
  font-weight: 500;
  line-height: 1.75rem;
}

.metricas_card > p {
  color: var(--color-secondary);
  line-height: var(--line-height-normal);
}

#vagas {
  display: flex;
  padding: 6rem 0px;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

#vagas > span {
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  
  padding: 0.25rem 0.75rem;
  border-radius: var(--font-size-normal);
  background: rgba(142, 36, 36, 0.05);
}

#vagas > h2 {
  color: var(--color-text-secondary);
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.045rem;
}

#vagas > p {
  color: var(--color-secondary);
  font-size: 1.25rem;
  line-height: 1.875rem;
}

#vagas > img {
  margin-top: 2.75rem;
}