:root {
  --color-primary: #8E2424;
  --color-secondary: #667085;
  --color-text: #3A404E;
  --color-text-secondary: #101828;
  --font-family: 'Inter', sans-serif;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --line-height-normal: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 18px 80px;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo span {
  color: var(--color-text);
  font-size: 18px;
  line-height: 24px;
}

.navbar {
  align-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.navbar a {
  color: var(--color-secondary);
  text-decoration: none;
}

.actions-button {
  display: flex;
  align-items: center;
  gap: 12px;
}

.actions-button button {
  background: rgba(255, 255, 255, 1);
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  padding: 10px 18px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
}

.actions-button .register {
  background: var(--color-primary);
  color: #FFFFFF;
}

#sobre_nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 96px 0px;
}

#sobre_nos span {
  color: var(--color-primary);
  font-weight: 600;
  line-height: 24px;
}

#sobre_nos h1 {
  color: var(--color-text-secondary);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.96px;
}

#sobre_nos p {
  width: 791px;
  padding-top: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

#metricas {
  display: flex;
  padding-bottom: 96px;
  gap: 64px;
  margin: 0px 80px;
}

#metricas .metricas_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 0 0;
}

.metricas_card > span {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 60px;
}

.metricas_card > h2 {
  color: var(--color-text-secondary);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.metricas_card > p {
  color: var(--color-secondary);
  line-height: 24px;
}

#vagas {
  display: flex;
  padding: 96px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#vagas > span {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  
  padding: 4px 12px;
  border-radius: 16px;
  background: rgba(142, 36, 36, 0.05);
}

#vagas > h2 {
  color: var(--color-text-secondary);
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.72px;
}

#vagas > p {
  color: var(--color-secondary);
  font-size: 20px;
  line-height: 30px;
}

#vagas > img {
  margin-top: 44px;
}